header{
    padding: 15px o;
    background-color: rgb(117, 219, 104);
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 32px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20%;
    padding: 9px;
    margin: 5px;
}
.logo span{
    color: white;
    font-weight: 500;   
    font-size: 20px;
}
nav{
    display: flex;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: white;
}
nav a:nth-child(2){
margin: 0 20px;
}
.address-link{
    display: flex;
    align-items: center;
}
.address-link img{
    width: 24px;
    margin: 0 20px;
}
.address-link a{
    text-decoration: none;
    color: white;
}
.toggle-btn{
    padding: 0;
    background: transparent;
    border: 0;
    display: none;
}
.toggle-btn img{
    width: 24px;
}
@media (max-width: 768px){
    .toggle-btn{
        display: block;
    }
    nav, .address-link{
        display: none;
    }
}
