@import url(../header.css);
@import url(menu.css);
@import url(blocks/hero-block.css);
@import url(blocks/products-block.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}
html { 
    scroll-behavior: smooth;
}
h1, h2{
    
    font-weight: 700;
}
body{
    margin: 0;
    padding: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}
section{
    padding: 10px;
}

@media (max-width: 768px){
 .container{
    width: 90%;
    
 }

}