.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transition: all .5s ease-in-out;
    background-color: white;
    padding: 20px 0;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.menu-header img{ 
    width: 24px;
}
.menu-body {
    display: flex;
    flex-direction: column;
}
.menu-body a{ 
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
}
.hide-menu{
    right: -100%!important;
}
